{% load static  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/mdb.css' %}">
</head>
<body>
    <center>
        <h1 class="btn btn-outline-primary waves-effect">Balu Html Page</h1>
        <div class="card" style="width: 18rem;">
            <img src="{% static 'images/bala.jpeg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">BALAYYA</h5>
              <p class="card-text">JAY BALAYYA</p>
              <a href="https://www.youtube.com/watch?v=XUdcXkvYJs0" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
  
    </center>


    <script src="bootstrap.js"></script>
    <script src="jquery.js"></script>
    <script src="mdb.js"></script>
    <script src="popper.js"></script>
</body>
</html>